/* =========================================
    GRUNDLAGEN & RESET
   ========================================= */

        body,
        html  {

            /*100% der sichtbaren Fensterhöhe nutzen*/
            height: 100%;
            width: 100%;

            /*Außenabstand und Innenanstand*/
            margin: 0;
            padding: 0;
        
            /* Kein Scrollen
            overflow: hidden;*/
        }

/* =========================================
   STANDARTDFARBEN
   ========================================= */


        :root {
        /*standartFarben*/
        --standarttext:rgb(255, 255, 255);
        --durchsichtig:rgba(0, 0, 0, 0);
        /*Hintergrundbild*/
        --hgbFarben: rgba(30, 0, 255, 0.138); 
        --titelfeld: rgba(30, 0, 255, 0.138);
        --hgbFarbenDM:rgba(0, 0, 0, 0.5); 
        --FarbeFigcaption: rgb(255, 255, 255);
        }

/* =========================================
   DUNKELMODUS
   ========================================= */

        :root.dark-mode {
        /* standartFarben */
        --standarttext:rgb(217, 255, 0);
        --durchsichtig:rgba(0, 0, 0, 0);
        /* Hintergrundbild färben */
        --hgbFarben: rgba(8, 3, 41, 0.466); 
        --titelfeld: rgba(37, 35, 56, 0.26);
        --FarbeFigcaption: rgb(255, 255, 255);
        }

/* =========================================
    GRUNDLAGEN & HINTERGRUND
   ========================================= */

        body {

            /*Aktiviert das Flexbox-Layout-System für die ganze Seite*/
            display: flex;

            /*Stapelt die Kinder (Titel + Container) vertikal übereinander*/
            flex-direction: column;

            /* Hintergrundfarbe, Schriftfarbe und Schriftart */
            color: var(--standarttext);
            font-family: Arial, sans-serif;
            
            background-image: 
            /*Schleier für das Hintergrundbild*/
            /*Komma relevant für den Hintergrund*/
            linear-gradient(var(--hgbFarben), var(--hgbFarben)),
            url('../bilder/hintergrundbild/Pilot.PNG'); 

            /* Bild wird zurecht zentriert */
            background-size: cover;
           
        }

/* =========================================
   HEADER & ÜBERSCHRIFT
   ========================================= */

        .titelVonMenu {
            /* Entfernt Standard-Ränder */
            margin: 0;
            /* Bissl Luft oben und unten */
            padding: 10px 0;
            /* Text wird in die Mitte positioniert */
            text-align: center;
            /* Höhe automatisch */
            height: auto;
             /* Hintergrund für Titel */
            background-color: var(--titelfeld);
           
        }

/* =========================================
   HAUPT-CONTAINER => für die Bildauswahl
   ========================================= */

        .container {
            /* Volle Bildschirmhöhe 100% des sichtbaren Browsers - 60px */
            height: calc(100vh - 60px);
            /* Erstellt ein Rasterlayout mit 3 Spalten und 2 Reihen */
            display:grid;
            /* Definiert das Raster mit 3 Spalten und 2 Reihen */
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(2, 1fr);
        }

/* =========================================
   Die Kacheln (Felder in denen die Bilder sind)
   ========================================= */

        figure.bild {
            /*Rand entfernen*/
            margin: 0;

            /*Die Figur füllt extakt 100% der Rasterzelle aus*/
            width: 100%;
            height: 100%;

            /*Alles was über den Rand ragt, wird abgeschnitten*/
            overflow: hidden;
            /*Schichtmanagment*/
            position: relative;
            }

/* =========================================
   Bilder aufstellung
   ========================================= */

        img {
            width: 100%;
            height: 100%;
            
            /*Behaält seine Seitenverältnis,
            sonst gestreckt*/
            object-fit: contain;

            /*positions loslösung notwenig,
            damit z.index funktioniert.
            => liegt vor dem Text durch 2
            z. ist dabei die Z-Achse */
            position: relative;
            z-index: 2; 
            
            /*Bearbeitung der Schrift*/
            /* display: none !important */
        }


/* =========================================
   Bildunterschrift = Schrift hinter dem Bild
   ========================================= */

        figcaption {

            /* Orientiert sich am Elternelement
            => Container */
            position: absolute;
            top: 0 ; 
            left: 0;
            width: 100%;
            height: 100%;

            /*zentrierung des Textes*/
            display: flex;
            justify-content: center;
            align-items: center;

            /*liegt unter dem Bild*/
            z-index: 1;

            /*Optik*/
            color: var(--FarbeFigcaption);
            text-shadow: 4px 4px 8px #000000;
            /*Text*/
            font-size: clamp(1rem, 3.5vw, 3.5rem);
            /*fettgedruckt*/
            font-weight: bold;
            /*'Spiel starten zentrieren*/
            text-align: center;

        }

/* =========================================
   INTERAKTION (Hover)
   ========================================= */

        .container img:hover {
            /*Zeit der Transformation*/
            transition: transform 0.3s ease, opacity 0.3s ease;
            /* Vergrößerung der Bilder beim drübergehen (Hover) */
            transform: scale(0.9);
            /* Transparenz der Bilder bei drübergehen (Hover) */
            opacity: 0.2;
            
        }
