/* =========================================
   Fenster selbst
   ========================================= */
   
.dialog {
    text-align: center;
    border-style: calc();
    
}
/* =========================================
   Optionsfenster Einstellungen
   ========================================= */
   
#openWindowOptionID {
    width: 40%;
    height: 60%;
    border-radius: 10px;
    border: 5px solid black;
    box-shadow: 10px 10px 5px rgba(128, 128, 128, 0.208);
    background-color: rgb(255, 147, 47);

}
/* =========================================
   Titel im Optionen Fenster
   ========================================= */

.dialogStyle {
    padding: 20px;
    border: 2px solid #000000;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
}

.dialogStyle2 {
    margin-top: 2%;
    padding: 1%;
    border: 2px solid #000000;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
}

.Optionstitle {
    font-size: 2em;
    margin-bottom: 0.5em;
    position: relative;
    object-position: center;
    text-align: center;
}

/* =========================================
   
   ========================================= */