/* =========================================
   STANDARTDFARBEN Optionsfenster
   ========================================= */


    :root {
        --SchwarzerRand: black;
        --optionsfensterSchatten: rgba(128, 128, 128, 0.208);
        --hintergrundFarbe: rgb(255, 147, 47);
        --kastenFarbe: rgb(255, 255, 255);
    }

/* =========================================
   DUNKELMODUS Optionsfenster
   ========================================= */

    :root.dark-mode {
        --SchwarzerRand: black;
        --optionsfensterSchatten: rgba(128, 128, 128, 0.208);
        --hintergrundFarbe: rgba(87, 86, 86, 0.301);
        --kastenFarbe: rgb(15, 97, 117);
    }


/* =========================================
   Fenster selbst
   ========================================= */
   
    .dialog {
    text-align: center;
    border-style: calc();
    
    }
/* =========================================
   Dialog des Optionsfenster 
   ========================================= */
   
    #openWindowOptionID {
    width: 40%;
    height: (68%)vw;
    border-radius: 10px;
    border:5px solid var(--SchwarzerRand);
    box-shadow: 10px 10px 5px var(--optionsfensterSchatten);
    background-color: var(--hintergrundFarbe);
    }

    /*weitere Verwendung von der ID als Classe*/
    .openWindowOptionClass {

    border-radius: 10px;
    border:5px solid var(--SchwarzerRand);
    box-shadow: 10px 10px 5px var(--optionsfensterSchatten);
    background-color: var(--hintergrundFarbe);
    }

/* =========================================
   Div des Optionsfenster 1 und 2 / Text 
   ========================================= */

    .dialogStyle {
    padding: 20px;
    border: 2px solid var(--SchwarzerRand);
    background-color: var(--kastenFarbe);
    border-radius: 5px;
    }

    .dialogStyle2 {
    margin-top: 2%;
    padding: 1%;
    border: 2px solid var(--SchwarzerRand);
    background-color: var(--kastenFarbe);
    border-radius: 5px;

    object-fit: cover;
    display: block;
    }

    .Optionstitle {
    font-size: 2em;
    margin-bottom: 0.5em;
    position: relative;
    object-position: center;
    text-align: center;
    }
